{% extends 'base_dashboard.html' %}

{% block content %}

<div class="card">
    <h2>{{ bill.1 }}</h2> <!-- Restaurant name -->

    <h3>Add Person</h3>
    <!-- your form here -->

    <h3>Persons</h3>
    {% for p in persons %}
        <p>{{ p.1 }}</p>
    {% endfor %}
</div>

<div class="card">
    <h3>Items</h3>
    {% for item in items %}
        <p>{{ item.1 }} - ₹{{ item.2 }}</p>
    {% endfor %}
</div>

<div class="card">
    <h3>Summary</h3>
    {% for t in totals %}
        <p>{{ t.0 }} → ₹{{ t.1 }}</p>
    {% endfor %}
</div>

{% endblock %}